# Related to git and github
.git/
.github/
.gitignore
LICENSE
README.md

# Things of projects which doesn't concern the dockerfile at all
scripts/

# To be mounted
notices/
assets/*.png
techcoordi.json
